html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
.pay-row-blue {
  background-color: rgba(0, 0, 255, 0.25);
}
.pay-row-green {
  background-color: rgba(0, 255, 0, 0.25);
}
.pay-table-cont {
  height: 70vh;
  overflow-y: scroll;
}
.pay-table-cont::-webkit-scrollbar {
  display: none;
}
